body{
    margin:0;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.header{
    background-color: #1F2D5A;
}

.header img {
    width:20%;

}

div.top select{
    display: block;
    margin: 15px;
}
div.top input{
    display: block;
    margin: 15px;
}

